In [1]:
import pandas as pd 
import os

**User Item**

In [2]:
df = pd.read_csv('./user_item.csv')
df = df.drop(columns=["timestamp"])
user = []
item = []
for i in range(df.shape[0]):
    row = df.iloc[i]
    x, y = row['user ID'], row['item ID']
    user.append(x)
    item.append(y)

user = set(user)
item = set(item)
print(f'num user: {len(user)}')
print(f'max user ID: {max(user)}')

print(f'num item: {len(item)}')
print(f'max item ID: {max(item)}')

num user: 965
max user ID: 964
num item: 4487
max item ID: 237660

**User bundle**

In [3]:
df = pd.read_csv('./user_bundle.csv')
df = df.drop(columns=["timestamp"])
user = []
bundle = []
for i in range(df.shape[0]):
    row = df.iloc[i]
    x, y = row['user ID'], row['bundle ID']
    user.append(x)
    bundle.append(y)

user = set(user)
bundle = set(bundle)
print(f'num user: {len(user)}')
print(f'max user ID: {max(user)}')

print(f'num bundle: {len(bundle)}')
print(f'max bundle ID: {max(bundle)}')

num user: 965
max user ID: 964
num bundle: 1910
max bundle ID: 1909

**Bundle Item**

In [4]:
df = pd.read_csv('./bundle_item.csv')
#df = df.drop(columns=["timestamp"])
item = []
bundle = []
for i in range(df.shape[0]):
    row = df.iloc[i]
    x, y = row['bundle ID'], row['item ID']
    bundle.append(x)
    item.append(y)

bundle = set(bundle)
item = set(item)
print(f'num bundle: {len(bundle)}')
print(f'max bundle ID: {max(bundle)}')

print(f'num user: {len(item)}')
print(f'max user ID: {max(item)}')

num bundle: 1910
max bundle ID: 1909
num user: 4487
max user ID: 237660

In [5]:
num_user, num_bundle, num_item = len(user), len(bundle), len(item)
print(num_user, num_bundle, num_item)

965 1910 4487

**Mapping Item**

In [6]:
item_mapping_set = sorted(item)
mapping_function = dict()
for i in range(len(item_mapping_set)):
    mapping_function[item_mapping_set[i]] = i
# mapping_function

In [7]:
df_ui = pd.read_csv('./user_item.csv')
df_ui = df_ui.drop(columns=["timestamp"])
df_ui['item ID'] = df_ui['item ID'].map(mapping_function)
df_ui.head()

   user ID  item ID
0        0     2601
1        0     2415
2        1     2774
3        1       56
4        2      167

In [8]:
path = './user_item.txt'
if os.path.exists(path):
    os.remove(path) 
with open(path, 'a') as f:
    for i in range(df_ui.shape[0]):
        row = df_ui.iloc[i]
        x, y = row['user ID'], row['item ID']
        f.write(f'{x}\t{y}\n')

In [9]:
df_bi = pd.read_csv('./bundle_item.csv')
#df_bi = df_bi.drop(columns=["timestamp"])
df_bi['item ID'] = df_bi['item ID'].map(mapping_function)
df_bi.head()

   bundle ID  item ID
0          0     3245
1          0     3525
2          1      658
3          1     2862
4          1     1140

In [10]:
path = './bundle_item.txt'
if os.path.exists(path):
    os.remove(path) 
with open(path, 'a') as f:
    for i in range(df_bi.shape[0]):
        row = df_bi.iloc[i]
        x, y = row['bundle ID'], row['item ID']
        f.write(f'{x}\t{y}\n')

In [11]:
df_ub = pd.read_csv('./user_bundle.csv')
df_ub = df_ub.drop(columns=["timestamp"])
df_ub

      user ID  bundle ID
0           0        566
1           1         28
2           2       1682
3           3       1349
4           4       1752
...       ...        ...
1905      963       1125
1906      963       1126
1907      963       1127
1908      964        365
1909      964        366

[1910 rows x 2 columns]

In [12]:
x = []
y = []
for i in range(df_ub.shape[0]):
    row = df_ub.iloc[i]
    x.append(row['user ID'])
    y.append(row['bundle ID'])

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_tune_test, y_train, y_tune_test = train_test_split(
    x,y,
    test_size = 0.2
)

x_tune, x_test, y_tune, y_test = train_test_split(
    x_tune_test, y_tune_test,
    test_size=0.5
)

In [23]:
df = pd.DataFrame(x_train, columns=['x_train'])
df['y_train'] = y_train
df = df.sort_values(by=['x_train'])

path = './user_bundle_train.txt'
if os.path.exists(path):
    os.remove(path) 
with open(path, 'a') as f:
    for i in range(df.shape[0]):
        row = df.iloc[i]
        x, y = row['x_train'], row['y_train']
        f.write(f'{x}\t{y}\n')

In [24]:
df = pd.DataFrame(x_tune, columns=['x_tune'])
df['y_tune'] = y_tune
df = df.sort_values(by=['x_tune'])

path = './user_bundle_tune.txt'
if os.path.exists(path):
    os.remove(path) 
with open(path, 'a') as f:
    for i in range(df.shape[0]):
        row = df.iloc[i]
        x, y = row['x_tune'], row['y_tune']
        f.write(f'{x}\t{y}\n')

In [25]:
df = pd.DataFrame(x_test, columns=['x_test'])
df['y_test'] = y_test
df = df.sort_values(by=['x_test'])

path = './user_bundle_test.txt'
if os.path.exists(path):
    os.remove(path) 
with open(path, 'a') as f:
    for i in range(df.shape[0]):
        row = df.iloc[i]
        x, y = row['x_test'], row['y_test']
        f.write(f'{x}\t{y}\n')